*.o
*.xml
.deps/
.libs/
Makefile
!contrib/Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
*.1
Documentation/accfg/asciidoc.conf
Documentation/accfg/asciidoctor-extensions.rb
.dirstamp
*.a
accfg/lib/libaccfg.pc
accfg/accfg
rhel/
sles/accfg.spec
util/log.lo
util/sysfs.lo
version.m4
*.swp
cscope.files
cscope*.out
tags
*.swk
*.swl
*.swm
*.swn
*.swo
*.?~
m4
log
